# **INTRODUCCIÓN**

In [66]:
### para exportar pdf sin celdas de codigo, ejecutar en el cmd del sistema:

## cd C:\Users\User\Desktop\PROYECTO COMPU 1

### python -m jupyter nbconvert --to pdf --no-input practica.ipynb

In [65]:
#leer la base de datos en formato csv 
import pandas as pd

pd.set_option('display.notebook_repr_html', True)

def _repr_latex_(self):
    return "{%s}" % self.to_latex()

pd.DataFrame._repr_latex_ = _repr_latex_

csv = (r'C:\Users\User\Desktop\RICARDO UNIVERSIDAD\Equipo-4-computacion-II\Limpieza de datos\Datos.csv')
df = pd.read_csv(csv)

#mostrar primeras 5 filas del csv
df.head(5)

  codigo pais   pais  anyo  energia per capita  pib per capita
0         ABW  Aruba  1980                 NaN             NaN
1         ABW  Aruba  1981                 NaN             NaN
2         ABW  Aruba  1982                 NaN             NaN
3         ABW  Aruba  1983                 NaN             NaN
4         ABW  Aruba  1984                 NaN             NaN