# **INTRODUCCIÓN**

In [1]:
### para exportar pdf sin celdas de codigo, ejecutar en el cmd del sistema:

## cd C:\Users\User\Desktop\PROYECTO COMPU 1

### python -m jupyter nbconvert --to pdf --no-input Informe.ipynb

In [24]:
#leer la base de datos en formato csv 
import pandas as pd

In [30]:
#leer la base de datos en formato csv 
pd.set_option('display.notebook_repr_html', True)

def _repr_latex_(self):
    return "{%s}" % self.to_latex()

pd.DataFrame._repr_latex_ = _repr_latex_

csv = (r'C:\Users\User\Desktop\RICARDO UNIVERSIDAD\Equipo-4-computacion-II\Limpieza de datos\Datos.csv')
df = pd.read_csv(csv)

#mostrar primeras 5 filas del csv
df.head(11)

   Código   País   Año  Energía per cápita  PIB per cápita
0     ABW  Aruba  1980                 NaN             NaN
1     ABW  Aruba  1981                 NaN             NaN
2     ABW  Aruba  1982                 NaN             NaN
3     ABW  Aruba  1983                 NaN             NaN
4     ABW  Aruba  1984                 NaN             NaN
5     ABW  Aruba  1985                 NaN             NaN
6     ABW  Aruba  1986                 NaN         6283.00
7     ABW  Aruba  1987                 NaN         7567.25
8     ABW  Aruba  1988                 NaN         9274.51
9     ABW  Aruba  1989                 NaN        10767.40
10    ABW  Aruba  1990                 NaN        11638.73